
@media screen and (min-width: 1000px) {
  .container {
    margin: 0 auto;
    max-width: 350px;
    width: 350px;
  }
  .container.is-fluid {
    margin: 0 20px;
    max-width: none;
    width: auto;
  }
}

@media screen and (min-width: 1192px) {
  .container {
    max-width: 350px;
    width: 350px;
  }
}

@media screen and (min-width: 1384px) {
  .container {
    max-width: 350px;
    width: 350px;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)   {
  body {
    font-size: 1.3rem;
  }
  .title {
    font-size: 3rem;
  }
  .hero.is-success .links {
    font-size: 2rem;
  }
}


@media only screen 
and (min-device-width : 735px) 
and (max-device-width : 812px) 
and (orientation : landscape) {
  body {
    font-size: 1.3rem;
  }
  .title {
    font-size: 3rem;
  }
  .hero.is-success .links {
    font-size: 2rem;
  }
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
  body {
    font-size: 1.8rem;
  }
  .title {
    font-size: 4rem;
  }
  .hero.is-success .links {
    font-size: 3rem;
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  body {
    font-size: 2rem;
  }
  .title {
    font-size: 6rem;
  }
  .hero.is-success .links {
    font-size: 4rem;
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
  body {
    font-size: 1.8rem;
  }
  .title {
    font-size: 4rem;
  }
  .hero.is-success .links {
    font-size: 3rem;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  body {
    font-size: 1.8rem;
  }
  .title {
    font-size: 6rem;
  }
  .hero.is-success .links {
    font-size: 4rem;
  }
}

body {
  font-family: 'Roboto Mono', serif;
}

.links {
  margin-bottom: 1.5rem;
}
.hero.is-success .links  a:not(.button) {
  font-family: 'Rubik', serif;
  font-weight: 500;
  color: #0932e7; 
  border: none;
}
.hero.is-success a:not(.button) {
  border-bottom: 1px solid #0932e7;  
}
.hero.is-success a:not(.button):hover {
  background-color: #0932e7;  
  color: #ffffff; 
}
.hero.is-success {
    background-color: white;
    color: #333;
    align-items: center;
    justify-content: center;
}
.hero.is-success .title {
    font-family: 'Rubik', serif;
    font-weight: bold;
    color: #333;
}
.hero.is-success .subtitle {
    font-family: 'Roboto Mono', serif;
    color: #333;
}
